@model Proiect__Savina_Ioana.Models.RestaurantViewModels.OwnersIndexData
@{
    ViewData["Dish"] = "Owners";
}
<h2>Owners</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Owner Name</th>
            <th>Adress</th>
            <th>Foods</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Owners)
        {
            string selectedRow = "";
            if (item.ID == (int?)ViewData["OwnerID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adress)
                </td>

                <td>
                    @{
                        foreach (var food in item.OwnedFoods)
                        {
                            @food.Food.ID @: @food.Food.Dish <br />
                        }
                    }
                </td>
                <td>
                    <a asp-action="Index" asp-route-id="@item.ID">Select</a> |
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.Foods != null)

{


    <h3>Foods owned by selected owner</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Dish</th>
            <th>Chef</th>
            <th>Price</th>
        </tr>

        @foreach (var item in Model.Foods)
        {
            string selectedRow = "";
            if (item.ID == (int?)ViewData["FoodID"])
            {
                selectedRow = "success";
            }

            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("Select", "Index", new { foodID = item.ID })
                </td>
                <td>
                    @item.Dish
                </td>
                <td>
                    @item.Chef
                </td>
                <td>
                    @item.Price
                </td>
            </tr>
}

    </table>
}
@if (Model.Orders != null)
{
<h3>
    Customers that have ordered the Selected Dishes
</h3>
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Order Date</th>
                    </tr>
                    @foreach (var item in Model.Orders)
                    {
    <tr>
        <td>
            @item.Customer.Name
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
    </tr>                }
                </table>}

